.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    border-radius: 5px;
  }
  
  .modal-main {
    position:fixed;
    padding: 4vw;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 1000;
    border-radius: 5px;
    font-size: 20px;
  }
  
  .display-block {
      display: block;
  }
  
  .display-none {
    display: none;
  }
.modalImage{
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.winnerModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 100;
  max-width: 530px;
  margin: auto;
  overflow: auto;
  box-shadow: 0 60px 80px 0 rgba(0,0,0,1.4);
  
}