body {
  margin: 0;
  font-family: "CustomFont";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "CustomFont";
  font-display: swap;
  src: url("./assets/Boogaloo-Regular.ttf")format('truetype');
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
}
